<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for SonarQube.CSharp.CodeAnalysis" Description="Code analysis rules for SonarQube.CSharp.CodeAnalysis.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="SonarQube.CSharp.CodeAnalysis" RuleNamespace="SonarQube.CSharp.CodeAnalysis">
    <Rule Id="S105" Action="Warning" />
    <Rule Id="S1109" Action="Warning" />
    <Rule Id="S121" Action="Warning" />
    <Rule Id="S1227" Action="Warning" />
    <Rule Id="S126" Action="Warning" />
    <Rule Id="S1301" Action="Warning" />
    <Rule Id="S1940" Action="Warning" />
    <Rule Id="S2070" Action="Warning" />
  </Rules>
</RuleSet>